@model List<Examen2.Models.AutomovilModel>;

@{
    ViewBag.Title = "Administrar Automóviles";
}

<html>
    <head>
    <title>Administrar Automóviles</title>
    <script defer src="~/js/AdministrarAutomoviles.js"></script>
    </head>
    <body>
    <button class="btn btn-enviar" onclick="BuscarAutomovilesPorMarca()">Buscar por Marca</button>
     <input type="text" id="marca-input" placeholder="Marca" maxlength="30">
     <p id="errorMessage"></p>
     <br>
     <br>
    <table class="table">
        <thread>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Cantidad de Puertas</th>
                <th>Doble Tracción</th>
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Marca</td>
                    <td>@item.Modelo</td>
                    <td>@item.Color</td>
                    <td>@item.NumeroPuertas</td>

                    @if (@item.DobleTraccion == true){
                        <td>Sí</td>
                    } else {
                     <td>No</td>
                    }
                    <td>
                        @Html.ActionLink("Editar","EditarAutomovil",
                    new { marca = item.Marca , modelo = item.Modelo },
                    new {@class = "btn btn alert-info",
                    @onclick = "return confirm('¿Desea editar este automóvil?')"})
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar","EliminarAutomovil",
                    new { marca = item.Marca , modelo = item.Modelo },
                    new {@class = "btn btn alert-danger",
                    @onclick = "return confirm('¿Desea borrar este automóvil?')"})
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
</html>
